<!-- {% extends 'base.html' %}
{% load includes %}

{% block content %} -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../includes/css/bootstrap.css">
	<link rel="stylesheet" href="../includes/css/custom.css">
	<link rel="stylesheet" href="../includes/css/responsive.css">
	<link rel="stylesheet" href="../includes/css/ui.css">
	<link rel="stylesheet" href="../includes/css/responsive.css">
</head>

<body>


	<nav class="navbar navbar-expand-lg bg-body-tertiary android-main">
		<div class="container-fluid">
			<img class="logo" src="../includes/images/favicon.ico">
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="icon icon-sm rounded-circle border col-12 mt-2 mt-lg-0"><i class="fa fa-shopping-cart"></i>
				</div>
				<ul class="navbar-nav mb-2 mt-2 mt-lg-0 mb-lg-0">

					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle col-12 col-lg-0" type="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							All category
						</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</div>
					<li class="nav-item ml-3 mr-3 mt-3 mt-lg-0">
						<a href="" class="btn btn-outline-primary col-12 col-lg-0">Store</a>
					</li>
				</ul>
				<form action=""  role=" search" method='GET'>
							<div class="input-group w-100">
								<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
				</form>
			</div>
	
			<div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3 sticky android-main">
				<div class="d-flex justify-content-end mb-3 mb-lg-0">


					<div class="widget-header">
						<small class="title text-muted">Welcome guest!</small>
						<div>
							<a href="">Sign in</a> <span class="dark-transp"> | </span>
							<a href=""> Register</a>
						</div>
					</div>
					<div class="widget-header">
						<small class="title text-muted">Welcome</small>
						<div>
							<a href="">Dashboard</a> <span class="dark-transp"> | </span>
							<a href="">Logout</a>
						</div>
					</div>


					<a href="" class="widget-header pl-3 ml-3">
						<div class="icon1 icon-sm rounded-circle border mt-1"><i class="fa fa-shopping-cart"></i>
						</div>
						<span class="badge badge-pill badge-danger notify"></span>
					</a>
				</div>
			</div>
		</div>
		</div>
	</nav>



	<nav class="navbar navbar-expand-lg bg-body-tertiary android">
		<div class="container-fluid">
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="#">
			<img src="./images/favicon.ico" alt="">
		  </a>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mb-2 mt-2 mt-lg-0 mb-lg-0">

				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle col-12 col-lg-0" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						All category
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
				<li class="nav-item ml-3 mr-3 mt-3 mt-lg-0">
					<a href="" class="btn btn-outline-primary col-12 col-lg-0">Store</a>
				</li>
			</ul>
			<form action=""  role=" search" method='GET'>
				<div class="input-group w-100">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</form>
		  </div>
		</div>
	  </nav>



	  <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3 sticky android">
		<div class="d-flex justify-content-end mb-3 mb-lg-0 mt-3 mt-lg-0">


			<div class="widget-header">
				<small class="title text-muted">Welcome guest!</small>
				<div>
					<a href="">Sign in</a> <span class="dark-transp"> | </span>
					<a href=""> Register</a>
				</div>
			</div>
			<div class="widget-header">
				<small class="title text-muted">Welcome</small>
				<div>
					<a href="">Dashboard</a> <span class="dark-transp"> | </span>
					<a href="">Logout</a>
				</div>
			</div>


			<a href="" class="widget-header pl-3 ml-3">
				<div class="icon1 icon-sm rounded-circle border mt-1"><i class="fa fa-shopping-cart"></i>
				</div>
				<span class="badge badge-pill badge-danger notify"></span>
			</a>
		</div>
	</div>








<section class="section-content">
	<div class="container ">

		<!-- ============================ COMPONENT 1 ================================= -->
		<h4 class="text-center mb-2">Review Your Order</h4>
		<div class="row">

			<aside class="col-lg-8 col-md-12">
				<div class="card">
					<h5 class="card-header">Delivery Address</h5>
					<div class="card-body">
						<p class="card-text mb-0">full_name</p>
						<p class="card-text mb-0">full_address</p>
						<p class="card-text mb-0">city,state</p>
						<p class="card-text mb-0">country</p>
						<p class="card-text mb-0">email</p>
						<p class="card-text mb-0">phone</p>
						<!-- {% if order.order_note %}
						<b>Order Note: </b> {{order.order_note}}
						{% endif %} -->


					</div>
				</div>
				<div class="card mt-3">
					<h5 class="card-header">Payment Method</h5>
					<div class="card-body">
						<p class="card-text">PayPal</p>

					</div>
				</div>
				<div class="card  mt-3">
					<h5 class="card-header">Review Products</h5>
					<div class="card-body">
						<table class="table table-borderless table-shopping-cart">
							<thead class="text-muted">
								<tr class="small text-uppercase">
									<th scope="col">Product</th>
									<th scope="col" width="120">Quantity</th>
									<th scope="col" width="120">Price</th>

								</tr>
							</thead>
							<tbody>

								<!-- {% for cart_item in cart_items %} -->
								<tr>
									<td>
										<figure class="itemside align-items-center">
											<div class="aside"><img src="" class="img-sm"></div>
											<figcaption class="info">
												<a href="" class="title text-dark">cart_item</a>
												<p class="text-muted small">
													<!-- {% if cart_item.variations.all %}
													{% for item in cart_item.variations.all %}
													{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
													{% endfor %}
													{% endif %} -->
												</p>
											</figcaption>
										</figure>
									</td>
									<td>
										<!-- col.// -->
										<label for="">2</label>
									</td>
									<td>
										<div class="price-wrap">
											<var class="price">£20000</var>
											<small class="text-muted"></small>
										</div> <!-- price-wrap .// -->
									</td>

								</tr>
								<!-- {% endfor %} -->

							</tbody>
						</table>

					</div>
				</div>

			</aside> <!-- col.// -->
			<aside class="col-lg-4 col-md-12">

				<div class="card">
					<div class="card-body">
						<dl class="dlist-align">
							<dt>Items:</dt>
							<dd class="text-right">£</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Tax:</dt>
							<dd class="text-right">£</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Order Total:</dt>
							<dd class="text-right text-dark b"><strong>£</strong></dd>
						</dl>
						<hr>
						<p class="text-center mb-3">
							<img src="../includes/images/misc/payments.png" height="26">
						</p>


						<div id="paypal-button-container">
							<!-- PayPal Button Will Load -->
						</div>

					</div> <!-- card-body.// -->
				</div> <!-- card.// -->

			</aside> <!-- col.// -->


		</div> <!-- row.// -->

		<!-- ============================ COMPONENT 1 END .// ================================= -->

	</div> <!-- container .//  -->
</section>

	  

	<!-- ========================= SECTION MAIN ========================= -->
	<section class="section-intro padding-y-sm">
		<div class="container">

			<div class="intro-banner-wrap">
				<img src="../includes/images/banners/1.jpg" class="img-fluid rounded" width="100%">
			</div>

		</div> <!-- container //  -->
	</section>
	<!-- ========================= SECTION MAIN END// ========================= -->

	<!-- ========================= SECTION  ========================= -->
	<section class="section-name padding-y-sm  checked">
		<div class="container">

			<header class="section-heading">
				<a href="./store/cart.html" class="btn btn-outline-primary float-right">See all</a>
				<h3 class="section-title">Popular products</h3>
			</header><!-- sect-heading -->


			<div class="row">
				<!-- {% comment %} {% for product in products %} {% endcomment %} -->
				<div class="col-lg-3">
					<div class="card card-product-grid">
						<a href="#" class="img-wrap"> <img src="../includes/images/items/12.jpg"> </a>
						<figcaption class="info-wrap">
							<a href="" class="title">name</a>
							<div class="price mt-1">£</div> <!-- price-wrap.// -->
							<div class="rating-star">
								<span>
									<i class="fa fa-star}"
										aria-hidden="true"></i>
									<i class="fa fa-star"
										aria-hidden="true"></i>
									<i class="fa fa-star"
										aria-hidden="true"></i>
									<i class="fa fa-star"
										aria-hidden="true"></i>
									<i class="fa fa-star"
										aria-hidden="true"></i>
								</span>
							</div>
						</figcaption>
					</div>
				</div> <!-- col.// -->
				<!-- {% comment %} {% endfor %} {% endcomment %} -->
			</div> <!-- row.// -->

		</div><!-- container // -->
	</section>
	<!-- ========================= SECTION  END// ========================= -->
	

	<section class="section-content padding-y bg">
		<div class="container">
		
		<!-- ============================ COMPONENT 1 ================================= -->
		<!-- {% if not cart_items %} -->
			<h2 style="color: #969696;" class="text-center">Your Shopping Cart is Currently Empty</h2>
			<br>
			<div class="text-cente>
				<a href="'store" class="btn btn-primary">Continue Shopping</a>
			</div>
		<!-- {% else %} -->
		<div class="row">
			<aside class="col-lg-9">
		<div class="card">
		<table class="table table-borderless table-shopping-cart">
		<thead class="text-muted">
		<tr class="small text-uppercase">
		  <th scope="col">Product</th>
		  <th scope="col" width="120">Quantity</th>
		  <th scope="col" width="120">Price</th>
		  <th scope="col" class="text-right" width="200"> </th>
		</tr>
		</thead>
		<tbody>
		
		<!-- {% for cart_item in cart_items %} -->
		<tr>
			<td>
				<figure class="itemside align-items-center">
					<div class="aside"><img src="../includes/images/items/12.jpg" class="img-sm"></div>
					<figcaption class="info">
						<a href="" class="title text-dark">cart</a>
						<p class="text-muted small">
							<!-- {% if cart_item.variations.all %} -->
		
							<!-- {% for item in cart_item.variations.all %}
									{{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst }} <br>
								{% endfor %}
							{% endif %} -->
						</p>
					</figcaption>
				</figure>
			</td>
			<td>
				<!-- col.// -->
							<div class="col">
								<div class="input-group input-spinner">
									<div class="input-group-prepend">
										<a href="" class="btn btn-light" type="button" id="button-plus"><i class="fa fa-minus"></i></a>
									</div>
									<input type="text" class="form-control"  value="{{ cart_item.quantity }}">
									<div class="input-group-append">
										<form action="}" method="post">
											<!-- {% csrf_token %}
											{% for item in cart_item.variations.all %} -->
											<input type="hidden" name="" value="">
											<!-- {% endfor %} -->
											<button class="btn btn-light" type="submit" id="button-minus"><i class="fa fa-plus"></i></button>
										</form>
									</div>
								</div> <!-- input-group.// -->
							</div> <!-- col.// -->
			</td>
			<td>
				<div class="price-wrap">
					<var class="price">£</var>
					<small class="text-muted">£ each </small>
				</div> <!-- price-wrap .// -->
			</td>
			<td class="text-right">
			<a href="" onclick="return confirm('Pause for a moment. Is removing this item the best decision?')" class="btn btn-danger total">Remove</a>
			</td>
		</tr>
		<tr>
			<td class="text-right2 ">
				<a href="" onclick="return confirm('Pause for a moment. Is removing this item the best decision?')" class="btn btn-danger total2">Remove</a>
				</td>
		</tr>
		
		<!-- {% endfor %} -->
		
		</tbody>
		</table>
		</div> <!-- card.// -->
		
			</aside> <!-- col.// -->
			<aside class="col-lg-3">
		
				<div class="card">
				<div class="card-body">
					<dl class="dlist-align">
					  <dt>Total price:</dt>
					  <dd class="text-right">£</dd>
					</dl>
					<dl class="dlist-align">
					  <dt>Tax:</dt>
					  <dd class="text-right">£</dd>
					</dl>
					<dl class="dlist-align">
					  <dt>Grand Total:</dt>
					  <dd class="text-right text-dark b"><strong>£</strong></dd>
					</dl>
					<hr>
					<p class="text-center mb-3">
						<img src="" height="26">
					</p>
					<a href="" class="btn btn-primary btn-block"> Checkout </a>
					<a href="" class="btn btn-light btn-block">Continue Shopping</a>
				</div> <!-- card-body.// -->
				</div> <!-- card.// -->
		
		</aside> <!-- col.// -->
		
		
		</div> <!-- row.// -->
		<!-- {% endif %} -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->
		
		</div> <!-- container .//  -->
		</section>
		<!-- ========================= SECTION CONTENT END// ====================-->

	<div class="">
		<aside class="col-md-3">
			<!--   SIDEBAR   -->
			<ul class="list-group">
				<a class="list-group-item " href=""> Dashboard </a>
				<a class="list-group-item " href=""> My Orders </a>
				<a class="list-group-item " href=""> Edit Profile </a>
			<a class=" list-group-item " href=""> Change Password </a>
		</ul>
		<br>
		<a class=" btn btn-light btn-block" href=""> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
				<!--   SIDEBAR .//END   -->
		</aside>
	</div>

	<div class="container" style="margin-top: 50px;">
		<center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #0000FF;"></i></center>
		<h2 class="text-center">Payment Successful</h2>
		<br>
		<div class="text-center">
			<a href="store" class="btn btn-success">Shop more</a>
		</div>
	</div>
	








	<div class="container contain" >
		<div class="row invoice row-printable">
			<div class="col-md-12">
				<!-- col-lg-12 start here -->
				<div class="panel panel-default plain" id="dash_0">
					<!-- Start .panel -->
					<div class="panel-body p30">
						<div class="row">
							<!-- Start .row -->
							<div class="col-lg-6">
								<!-- col-lg-6 start here -->
								<div class="invoice-logo"><img src="../includes/images/favicon.ico" alt="Invoice logo" style="max-height: 40px;"></div>
							</div>
							<!-- col-lg-6 end here -->
							<div class="col-lg-6">
								<!-- col-lg-6 start here -->
								<div class="invoice-from">
									<ul class="list-unstyled text-right">
										<li><strong>Invoiced To</strong></li>
										<li>full_name</li>
										<li>full_address</li>
										<li>city.state</li>
										<li>country</li>
									</ul>
								</div>
							</div>
							<!-- col-lg-6 end here -->
							<div class="col-lg-12">
								<!-- col-lg-12 start here -->
								<div class="invoice-details mt25">
									<div class="well">
										<ul class="list-unstyled mb0">
											<li><strong>Order</strong>#</li>
											<li><strong>Transaction ID</strong>#</li>
											<li><strong>Order Date:</strong></li>
											<li><strong>Status:</strong></li>
										</ul>
									</div>
								</div>
	
								<div class="invoice-items">
									<div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th class="per70 text-center">Products</th>
													<th class="per5 text-center">Qty</th>
													<th class="per25 text-center">Total</th>
												</tr>
											</thead>
											<tbody>
											  <!-- {% for item in ordered_products %} -->
												<tr>
													<td>product_name
													  <p class="text-muted small">
																		  <!-- {{ i.variation_category | capfirst }} : {{ i.variation_value | capfirst }} <br> -->
																  
															  </p>
													</td>
													<td class="text-center">item</td>
													<td class="text-center">£ GBP</td>
												</tr>
											  <!-- {% endfor %} -->
											</tbody>
											<tfoot>
												<tr>
													<th colspan="2" class="text-right">Items:</th>
													<th class="text-center">£ GBP</th>
												</tr>
												<tr>
													<th colspan="2" class="text-right">Tax:</th>
													<th class="text-center">£ GBP</th>
												</tr>
	
												<tr>
													<th colspan="2" class="text-right">Order Total:</th>
													<th class="text-center">£ GBP</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<div class="invoice-footer mt25">
									<p class="text-center">Thank you for shopping with us!</p>
								</div>
							</div>
							<!-- col-lg-12 end here -->
						</div>
						<!-- End .row -->
					</div>
				</div>
				<!-- End .panel -->
			</div>
			<!-- col-lg-12 end here -->
		</div>
		</div>
	
<!-- 

	<script src="../includes/js/bootstrap.bundle.min.js"></script>
	<script src="../includes/js/jquery-2.0.0.min.js"></script>
	<script src="../includes/js/script.js"></script> -->


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
		crossorigin="anonymous"></script>
</body>

</html>

<!-- {% endblock %} -->